@charset "UTF-8";

*{margin:0;padding:0;}

#wrapper{
          width:1100px;
          margin:0 auto;
}
li{
  list-style-type:none;
}
/*span class*/
.lighter{
      font-weight:lighter;
}
a:link,
a:visited,
a:hover,
a:active{
          color:white;
          text-decoration:none;
}
/* 상단 첫번째 네비게이션 */
#mainHeaderNav,
#mainHeaderNav ul li,
#mainHeaderLogo,
#mainHeaderLogo div:nth-of-type(1),
#mainHeaderLogo div:nth-of-type(2),
#mainHeaderLogo div:nth-of-type(3),
#mainHeaderLogo div:nth-of-type(4),
#mainHeaderLogo p:nth-of-type(1),
#mainHeaderLogo p:nth-of-type(2){position:relative;}

#mainHeaderNav {
                display:block;
                height:50px;
                background:#5BBB96;
}
#mainHeaderNav ul li {
                      top:10px;
                      left:700px;
                      float:left;
                      margin-right:30px;
                      font-size:12px;
}

/*맨 위 상단 로고 및 링크 */
#mainHeaderLogo{
                display:block;
                height:80px;
}
#mainHeaderLogo div:nth-of-type(1),
#mainHeaderLogo div:nth-of-type(2),
#mainHeaderLogo div:nth-of-type(3),
#mainHeaderLogo div:nth-of-type(4){top:15px;}

#mainHeaderLogo div:nth-of-type(1){left:50px;}
#mainHeaderLogo div:nth-of-type(2){left:140px;}
#mainHeaderLogo div:nth-of-type(3){left:250px;}
#mainHeaderLogo div:nth-of-type(4){left:300px;}

#mainHeaderLogo div:nth-of-type(1),
#mainHeaderLogo div:nth-of-type(2),
#mainHeaderLogo div:nth-of-type(3),
#mainHeaderLogo div:nth-of-type(4),
#mainHeaderLogo p:nth-of-type(1),
#mainHeaderLogo p:nth-of-type(2){
                                  display:inline-block;
}
#mainHeaderLogo p:nth-of-type(1),
#mainHeaderLogo p:nth-of-type(2){
                                  top:5px;
                                  font-size:12px;
}
#mainHeaderLogo p:nth-of-type(1){left:270px;}
#mainHeaderLogo p:nth-of-type(2){left:320px;}

#mainHeaderLogo p:nth-of-type(1) a:link,
#mainHeaderLogo p:nth-of-type(1) a:hover,
#mainHeaderLogo p:nth-of-type(1) a:visited{color:black;}
#mainHeaderLogo p:nth-of-type(2) a:link,
#mainHeaderLogo p:nth-of-type(2) a:hover,
#mainHeaderLogo p:nth-of-type(2) a:visited{color:black;}

/*상단 두번째 네비게이션*/
.mainHeaderNav2{
                position:relative;
                width:1100px;
                height:50px;
                background:yellowgreen;
}
.mainHeaderNav2 nav{position:absolute;}
.mainHeaderNav2 ul{
                    float:left;
                    position:absolute;
                    top:12px;
                    text-align:center;
                    width:150px;
                    cursor:pointer;
}
.mainHeaderNav2 ul:nth-of-type(1){left:170px;}
.mainHeaderNav2 ul:nth-of-type(2){left:320px;}
.mainHeaderNav2 ul:nth-of-type(3){left:470px;}
.mainHeaderNav2 ul:nth-of-type(4){left:620px;}
.mainHeaderNav2 ul:nth-of-type(5){left:770px;}
.mainHeaderNav2 ul li{
                        position:relative;
                        width:150px;
                        margin-top:13px;
                        z-index:99;
}
#showHide{
          position:absolute;
          top:50px;
          width:1100px;
          height:100px;
          background:yellowgreen;
          z-index:90;
}
.sticky{
        position:fixed;
        top:0;
        z-index:999;
}
#sideNav{
          width:300px;
          height:100px;
          position:absolute;
          top:478px;
          left:-250px;
          border:1px solid black;
          z-index:9999;
}
#sideNav div{
            position:absolute;
            top:0;
            left:0;
            display:inline;
            width:250px;
            height:100px;
            background:yellowgreen;
            text-align:right;
}
#sideNav div a{color:black;}
#sideNav img{
              position:absolute;
              top:0;
              left:250px;
}

/* 푸터 소셜 아이콘 */

#mainFooterSocial{
                  clear:both;
                  position:relative;
                  top:0px;
                  height:120px;
                  border:1px solid #f6f6f6;
}
#mainFooterSocial ul li{
                        position:relative;
                        left:20px;
                        display:inline-block;
                        margin:10px 30px;
}

/* 푸터 네비게이션 */
#mainFooterNav{
                position:relative;
                height:130px;
                background:yellowgreen; /*확인 후 삭제*/
}
#mainFooterNav ul{
                    float:left;
                    position:relative;
                    top:0;
                    left:30px;
                    margin:10px 70px;
                    text-align:center;
}
#mainFooterNav ul li{margin-top:7px;}

/* 푸터 회사정보 */
#mainFooterInfo,
#mainFooterLogo,
#mainFooterInfo ul,
#mainFooterlogo2,
#mainFooterP p{position:relative;}

#mainFooterInfo{
            display:block;
            height:130px;
            background:#5BBB96;
}
#mainFooterLogo{
                top:10px;
                left:10px;
                display:inline-block;
}
#mainFooterInfo ul{
                top:-60px;
                left:5px;
                display:inline-block;
}
#mainFooterInfo ul li{
                  float:left;
                  margin-left:30px;
                  font-size:14px;
}
#mainFooterlogo2{
                  top:10px;
                  left:35px;
                  display:inline-block;
}
#mainFooterP p{
              top:-40px;
              left:230px;
              font-size:11px;
              color:white;
}
