@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

/* 초기화 */
*{margin:0;padding:0;}
ul,li{list-style:none;}
a{color:black; text-decoration:none;}
img{border:0;}
body{
  font-family:"Nanum Brush Script", cursive;
  font:normal 12px/1.8em;
  background:linear-gradient(to bottom,#09c,#fff,#fff);
}

/* Modile(portrait) - Common */
#container{
  width:320px;
  margin:0 auto;
  background-color:#fff;
}
#mainHeader{
  height:100px;
  background-color:#333;
}
#mainHeader h1{
  position:absolute;
  top:20px;
  left:40px;
  font-family:bold 4em Arial;
  color:#ff0;
  text-shadow:0px 1px 1px #000;
}
#mainHeader a{
  display:inline;
  color:yellow;
  text-shadow:5px 5px 5px #333;
}
#mainNav ul li{
  width:280px;
  margin:10px 0 10px 20px;
}
#mainNav a,
#mainNav a:visited{
  display:block;
  border:1px solid #ccc;
  border-radius:10px;
  padding:10px;
  text-align:center;
}
#mainNav a:hover{
  background:yellowgreen;
}
#mainSection{
  width:310px;
  padding:5px;
}
#mainSection h1{
  text-align:center;
}
#mainAside{
  width:310px;
  padding:5px;
  text-align:center;
}
#mainAside img{
  border:1px solid #ccc;
  width:90%;
  box-sizing:border-box;
}
#mainFooter{
  width:320px;
  background:#030;
  text-align:center;
  color:#fff;
  clear:both;
}
.showhide{
  opacity:0;
  margin-bottom:-20px;
}

/* Mobile(landscape) */
@media screen and (orientation:landscape){
  #container{
    width:500px;
  }
  #mainHeader{
    width:500px;
    height:280px;
    position:relative;
    background-image:url(../images/bg.png);
    background-repeat:no-repeat;
    background-position:left top;
    background-size:auto;
  }
  #mainHeader h1{
    position:absolute;
    top:30px;
    left:30px;
    font-size:50px;
  }
  #mainNav{
    width:500px;
    height:60px;
    line-height:60px;
    background-color:#060;
  }
  #mainNav ul{
    margin-left:5px;
  }
  #mainNav ul li{
    display:inline;
    margin:0 37px;
  }
  #mainNav a,
  #mainNav a:visited{
    display:inline;
    border:none;
    border-radius:10px;
    text-align:center;
    color:white;
  }
  #container2{
    width:500px;
    position:relative;
  }
  #mainSection{
    width:500px;
    position:relative;
    box-sizing:border-box;
    display:inline-block;
    float:left;
    padding:0 20px;
  }
  #mainSection h2,
  #mainSection h3,
  #mainSection p{
    margin-top:15px;
  }
  #mainAside{
    position:relative;
    width:500px;
    float:left;
    padding:0;
  }
  #mainAside ul{
    width:500px;
  }
  #mainAside img{
    width:100%;
    vertical-align:top;
    border:none;
    float:left;
  }
  #mainFooter{
    clear:both;
    width:500px;
    height:70px;
  }
}

/* Tablet */
@media screen and (min-width:600px){
  #container{
    width:600px;
  }
  #mainHeader{
    width:600px;
    height:280px;
    position:relative;
    background-image:url(../images/bg.png);
    background-repeat:no-repeat;
    background-position:left top;
    background-size:auto;
  }
  #mainHeader h1{
    position:absolute;
    top:30px;
    left:30px;
    font-size:50px;
  }
  #mainNav{
    width:600px;
    height:60px;
    line-height:60px;
    background-color:#060;
  }
  #mainNav ul{
    margin-left:5px;
  }
  #mainNav ul li{
    display:inline;
    margin:0 37px;
  }
  #mainNav a,
  #mainNav a:visited{
    display:inline;
    border:none;
    border-radius:10px;
    text-align:center;
    color:white;
  }
  #container2{
    width:600px;
    position:relative;
  }
  #mainSection{
    width:600px;
    position:relative;
    box-sizing:border-box;
    display:inline-block;
    float:left;
    padding:0 20px;
  }
  #mainSection h2,
  #mainSection h3,
  #mainSection p{
    margin-top:15px;
  }
  #mainAside{
    position:relative;
    width:600px;
    float:left;
    padding:0;
  }
  #mainAside ul{
    width:600px;
  }
  #mainAside img{
    width:200px;
    border:1px solid #ebc000;
    float:left;
  }
  #mainFooter{
    position:relative;
    clear:both;
    width:600px;
    height:70px;
    padding-top:5px;
  }
}

/* PC */
@media screen and (min-width:1024px){
  #container{
    width:960px;
  }
  #mainHeader{
    width:960px;
  }
  #mainNav{
    width:960px;
  }
  #mainNav ul{
    margin-left:40px;
  }
  #mainNav ul li{
    margin:0 30px;
  }
  #container2{
    width:960px;
    position:relative;
  }
  #mainSection{
    width:730px;
    position:relative;
  }
  #mainAside{
    width:200px;
    position:relative;
    float:right;
  }
  #mainAside ul{
    width:200px;
  }
  #mainAside img{
    width:200px;
  }
  #mainFooter{
    width:960px;
  }
}
